<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Edu.Uninpahu.Arquitectura.Negocio.Properties.Settings.FacturaConnectionString"
            connectionString="Data Source=DESKTOP-IR2E8DB\SQLEXPRESSSEBAS;Initial Catalog=FACTURA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>